# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Desktop\Q101.3_AbstractClasses\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
